*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px; /*1rem = 10px*/  
    @include responsive(tablet-landscape){
        font-size: 9px;
    }
    @include responsive(tablet-portrait){
        font-size: 8px;
    }
    @include responsive(phone){
        font-size: 6px;
    }
}

::selection {
    background: $warna-hijau-medium;
    color: $warna-putih;
}



// ukuran layar
// Phone <=600px
// Tablet <= 900px
// Tablet landscape <= 1200px
// Desktop <= 1200 x 1080px
// Big desktop > 1800px